In [3]:
import pandas as pd
import sqlite3
from datetime import datetime
from itertools import product

In [4]:
data = pd.read_csv('events.csv')

In [5]:
data.head()

   content_ID  device_ID event_type           event_time
0          16          1      start  2016-01-01 00:00:01
1          27          2      start  2016-01-01 00:00:01
2          78          3      start  2016-01-01 00:00:01
3          78          3        end  2016-01-01 00:00:28
4          54          3      start  2016-01-01 00:00:28

In [6]:
data['event_time']=pd.to_datetime(data['event_time'])

In [7]:
df_start = data[data['event_type'] == 'start'].sort_values(by=['content_ID','device_ID','event_time'])
df_end = data[data['event_type'] == 'end'].sort_values(by=['content_ID','device_ID','event_time'])

In [8]:
df_start.head()

      content_ID  device_ID event_type          event_time
564            1          1      start 2016-01-01 00:47:25
886            1          1      start 2016-01-01 01:14:34
1500           1          1      start 2016-01-01 02:06:22
4242           1          1      start 2016-01-01 05:55:26
4378           1          1      start 2016-01-01 06:06:54

In [9]:
df_end.head()

      content_ID  device_ID event_type          event_time
573            1          1        end 2016-01-01 00:48:05
895            1          1        end 2016-01-01 01:15:14
1505           1          1        end 2016-01-01 02:07:02
4249           1          1        end 2016-01-01 05:56:06
4383           1          1        end 2016-01-01 06:07:34

In [10]:
#df_start.merge(df_end, left_on='device_ID', right_on='device_ID', how='outer')

In [11]:
len(df_start.index)

259182

In [12]:
len(df_end.index)

259182

In [13]:
df_start = df_start.reset_index(drop=True)
df_end = df_end.reset_index(drop=True)
df_start['start_time'] = df_start['event_time']
df_end['end_time']=df_end['event_time']
df_start = df_start.drop(["event_type","event_time"], axis=1)
df_end = df_end.drop(["event_type","event_time","content_ID","device_ID"],axis=1)

In [14]:
merged = pd.concat([df_start,df_end],axis =1)

In [15]:
# Validation
merged[merged['start_time']< merged['end_time']]

        content_ID  device_ID          start_time            end_time
0                1          1 2016-01-01 00:47:25 2016-01-01 00:48:05
1                1          1 2016-01-01 01:14:34 2016-01-01 01:15:14
2                1          1 2016-01-01 02:06:22 2016-01-01 02:07:02
3                1          1 2016-01-01 05:55:26 2016-01-01 05:56:06
4                1          1 2016-01-01 06:06:54 2016-01-01 06:07:34
5                1          1 2016-01-01 06:28:14 2016-01-01 06:28:54
6                1          1 2016-01-01 06:32:00 2016-01-01 06:32:40
7                1          1 2016-01-01 06:49:51 2016-01-01 06:50:31
8                1          1 2016-01-01 07:09:26 2016-01-01 07:10:06
9                1          1 2016-01-01 08:00:26 2016-01-01 08:01:06
10               1          1 2016-01-01 08:06:00 2016-01-01 08:06:40
11               1          1 2016-01-01 08:52:52 2016-01-01 08:53:32
12               1          1 2016-01-01 09:22:43 2016-01-01 09:23:23
13               1          1 2016-01-01 14:25:07 2016-01-01 14:25:47
14               1          1 2016-01-01 15:58:06 2016-01-01 15:58:46
15               1          1 2016-01-01 18:49:05 2016-01-01 18:49:45
16               1          1 2016-01-01 18:55:23 2016-01-01 18:56:03
17               1          1 2016-01-01 19:18:58 2016-01-01 19:19:38
18               1          1 2016-01-01 19:44:19 2016-01-01 19:44:59
19               1          1 2016-01-01 20:32:05 2016-01-01 20:32:45
20               1          1 2016-01-01 20:47:58 2016-01-01 20:48:38
21               1          1 2016-01-01 23:21:17 2016-01-01 23:21:57
22               1          1 2016-01-01 23:55:54 2016-01-01 23:56:34
23               1          1 2016-01-02 00:55:15 2016-01-02 00:55:55
24               1          1 2016-01-02 01:22:16 2016-01-02 01:22:56
25               1          1 2016-01-02 01:35:44 2016-01-02 01:36:24
26               1          1 2016-01-02 02:35:37 2016-01-02 02:36:17
27               1          1 2016-01-02 03:12:49 2016-01-02 03:13:29
28               1          1 2016-01-02 03:43:31 2016-01-02 03:44:11
29               1          1 2016-01-02 03:49:31 2016-01-02 03:50:11
...            ...        ...                 ...                 ...
259152         100          3 2016-01-30 00:16:14 2016-01-30 00:16:59
259153         100          3 2016-01-30 00:36:26 2016-01-30 00:37:11
259154         100          3 2016-01-30 01:02:07 2016-01-30 01:02:52
259155         100          3 2016-01-30 03:58:46 2016-01-30 03:59:31
259156         100          3 2016-01-30 04:15:48 2016-01-30 04:16:33
259157         100          3 2016-01-30 04:40:21 2016-01-30 04:41:06
259158         100          3 2016-01-30 04:44:24 2016-01-30 04:45:09
259159         100          3 2016-01-30 04:56:17 2016-01-30 04:57:02
259160         100          3 2016-01-30 06:06:27 2016-01-30 06:07:12
259161         100          3 2016-01-30 08:43:21 2016-01-30 08:44:06
259162         100          3 2016-01-30 08:47:55 2016-01-30 08:48:40
259163         100          3 2016-01-30 09:15:03 2016-01-30 09:15:48
259164         100          3 2016-01-30 09:31:07 2016-01-30 09:31:52
259165         100          3 2016-01-30 10:48:08 2016-01-30 10:48:53
259166         100          3 2016-01-30 11:31:13 2016-01-30 11:31:58
259167         100          3 2016-01-30 12:05:12 2016-01-30 12:05:57
259168         100          3 2016-01-30 12:36:27 2016-01-30 12:37:12
259169         100          3 2016-01-30 14:04:19 2016-01-30 14:05:04
259170         100          3 2016-01-30 16:36:34 2016-01-30 16:37:19
259171         100          3 2016-01-30 18:59:00 2016-01-30 18:59:45
259172         100          3 2016-01-30 19:41:33 2016-01-30 19:42:18
259173         100          3 2016-01-30 19:55:34 2016-01-30 19:56:19
259174         100          3 2016-01-30 20:16:32 2016-01-30 20:17:17
259175         100          3 2016-01-30 20:27:56 2016-01-30 20:28:41
259176         100          3 2016-01-30 20:46:54 2016-01-30 20:47:39
259177         100          3 2016-01-30 20:52:01 2016-01-30 20:52:46
259178         100          3 2016-01-30 22:35:32 2016-01-30 22:36:17
259179         100          3 2016-01-30 22:46:50 2016-01-30 22:47:35
259180         100          3 2016-01-30 23:44:25 2016-01-30 23:45:10
259181         100          3 2016-01-30 23:52:48 2016-01-30 23:53:33

[259182 rows x 4 columns]

In [16]:
conn = sqlite3.connect("advertima.db")  # Opens file if exists, else creates file
cur = conn.cursor()
merged.to_sql(name="event", con=conn, if_exists="append", index=False)

Writing Persons CSV to database

In [19]:
person = pd.read_csv('persons.csv')
person = person.sort_values(by=['device_id'])
person.head()
person.to_sql(name="person", con=conn, if_exists="append", index=False)

Checking that the tables are created properly

In [20]:
sql = 'select * from event limit 5;'
sql2 = 'select * from person limit 5;'
cur.execute(sql) 
cur.fetchall()
print("="*100)
cur.execute(sql2)
cur.fetchall()

====================================================================================================

[(1, '2016-01-31 00:00:02', '2016-01-31 00:01:34', 6, 'female'),
 (1, '2016-01-28 01:00:04', '2016-01-28 01:00:56', 81, 'female'),
 (1, '2016-01-12 19:26:28', '2016-01-12 19:27:47', 23, 'female'),
 (1, '2016-01-12 19:26:26', '2016-01-12 19:28:13', 65, 'male'),
 (1, '2016-01-12 19:26:18', '2016-01-12 19:28:20', 57, 'male')]

Creating index on tables to reduce latency during retrival.

In [ ]:
sql = "CREATE INDEX device_idx ON event (device_id);"
cur.execute(sql)

In [ ]:
sql = "CREATE INDEX pdevice_idx ON person (device_id);"
cur.execute(sql)

In [74]:
args = {'device_id' :2, 'content_id':78, 'start_time':"2016-01-01 00:47:25", 'end_time':"2016-01-01 06:50:31"}
sql = "select * from person where device_ID = {device_id} and appears between\
'{start_time}' and '{end_time}';".format(**args)
cur.execute(sql) 
person_output = pd.read_sql(sql,conn).reset_index(drop=True)
appears_output = person_output.filter(items=['appears', 'disappears'])
appears_output.head()
type(appears_output['appears'][0])
appears_output['appears'] = pd.to_datetime(appears_output['appears'],format='%Y-%m-%d %H:%M:%S')
appears_output['disappears'] = pd.to_datetime(appears_output['disappears'],format='%Y-%m-%d %H:%M:%S')

In [75]:
#args = {'device_id' :1, 'content_id':1, 'start_time':"2016-01-01 00:47:25", 'end_time':"2016-01-01 06:50:31"}
sql = "select start_time,end_time from event\
       where device_id = {device_id} and content_id={content_id} \
       and max(start_time, '{start_time}') < min(end_time, '{end_time}')".format(**args)
content_output = pd.read_sql(sql,conn).reset_index(drop=True)
content_output['start_time'] = pd.to_datetime(content_output['start_time'],format='%Y-%m-%d %H:%M:%S')
content_output['end_time'] = pd.to_datetime(content_output['end_time'],format='%Y-%m-%d %H:%M:%S')

In [76]:
from timeit import timeit

a = list(range(len(appears_output.index)))
b = list(range(len(content_output.index)))
#len(list(product(a,b)))
count = 0; age = 0; male =0; female =0;avg_age=1;gender_distribution=1;
for i,j in product(a,b):
    #print(i,j)
    if max(appears_output['appears'][i],content_output['start_time'][j]) <= \
    min(appears_output['disappears'][i],content_output['end_time'][j]):
            count+=1
            if avg_age:
                age += person_output['age'][i]
            if gender_distribution:
                if person_output['gender'][i] == 'male':
                    male +=1 
                elif person_output['gender'][i] == 'female':
                    female +=1 
                else:
                    pass
if age > 0:
    print('Avg age:',age/count)
if 0 < male or female > 0:
    print('male {} female {}'.format(male/count,female/count))
print('Count:',count)

Avg age: 42.91428571428571
male 0.5428571428571428 female 0.45714285714285713
Count: 210